@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Welcome! </h2>



<a href="../Home/Display" class="button"> Refresh... </a>


<div class="search" style="border:solid 5px #4CAF50; width: 400px;">

    <div style="padding: 10px; position: center">
        <form style="padding: 10px;">
            <input type="text" placeholder="Search for Symbol..." />
            <a name="Search by Symbol" href="../Home/Display" class="button"> Search by Symbol </a>
        </form>

        <form style="padding: 10px;">
            <input type="date" placeholder="Search for Date..." />
            <a name="Search by Date" href="../Home/Display" class="button"> Search by Date </a>
        </form>
    </div>
</div>
